@use "../abstracts/" as *;
.mediaCard {
  width: rem(280);
  position: relative;
  overflow: hidden;
  border-radius: rem(8);

  &__image {
    width: 100%;
    margin-bottom: rem(8);
    border-radius: rem(8);
  }

  &__textBox {
    bottom: 0;
    svg {
      fill: currentColor;
    }
  }

  &__bookmark {
    position: absolute;
    top: rem(16);
    right: rem(16);
    background: #10141e;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: rem(8);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 11;
    color: white;
    &:hover {
      background: white;
      opacity: 1;
      color: #10141e;
    }
  }

  &__bookmark:hover &__imageContainer::after {
    visibility: visible;
  }
  &__imageContainer:hover &__play,
  &__bookmark:hover + &__play {
    visibility: visible;
    top: 50%;
  }

  &__details {
    display: flex;
    gap: rem(8);
    align-items: center;
    :not(.heading--xs) {
      opacity: 0.75;
    }
  }
  @include respond(tab-port) {
    width: rem(220, $fs-s);
  }
  @include respond(phone) {
    width: rem(164, $fs-s);
  }
  &__imageContainer {
    position: relative;
    &::after {
      cursor: pointer;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      width: 100%;
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      z-index: 10;
      border-radius: rem(8);
      visibility: hidden;
      top: 0;
    }
    &:hover::after {
      visibility: visible;
    }
  }

  &__play {
    padding: rem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(19);
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 28.5px;
    width: fit-content;
    position: absolute;
    top: -100%;
    left: 50%;
    transition: top 0.3s ease;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 12;
    visibility: hidden;

    .heading--xs {
      margin-right: rem(16);
    }
  }
}
