@use "../abstracts/" as *;
.sideBar {
  background-color: var(--clr-dark-1);

  padding: rem(32);
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__logo {
    fill: var(--clr-primary-1);
    margin-bottom: rem(75);
  }
  &__avatar {
    @include size(rem(40));
    position: absolute;
    bottom: rem(32);
    border: 1px solid var(--clr-light-1);
    border-radius: 50%;
  }
  margin-bottom: rem(32);
}
