@use "../abstracts/" as *;
.trending {
  height: rem(230);
  margin-bottom: rem(40);
  &__list {
    display: flex;
    height: 100%;
    gap: rem(40);
    cursor: grab;
    overflow: hidden;
    padding-right: rem(32);
  }
  &__item {
    height: 100%;
  }
  @include respond(phone) {
    height: rem(140, $fs-s);
    &__list {
      gap: rem(16, $fs-s);
      cursor: grab;
      padding-right: rem(32);
    }
  }
}
